.main {
  width: 100%;
  height: calc(100% - var(--nav-height));
  background-color: var(--bg-400);
}

[data-editor-configuration="horizontal"] .main {
  display: flex;
  flex-direction: row;
}

[data-editor-configuration="horizontal"] .editor-container {
  width: 50%;
  height: 100%;
  border-right: var(--border-100);
}

[data-editor-configuration="horizontal"] .result-container {
  width: 50%;
  height: 100%;
  display: flex;
}

[data-editor-configuration="vertical"] .main {
  display: flex;
  flex-direction: column;
}

[data-editor-configuration="vertical"] .editor-container {
  width: 100%;
  height: 50%;
  border-bottom: var(--border-100);
}

[data-editor-configuration="vertical"] .result-container {
  width: 100%;
  height: 50%;
  display: flex;
}
