*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-code: "Fira Code", monospace;
  --font-primary: "Fira Sans", sans-serif;

  /* colors */
  color-scheme: dark;
  --bg-400: hsl(225, 8%, 12%);
  --bg-200: hsl(0, 0%, 5%);
  --bg-hover: hsla(220, 50%, 70%, 0.25);
  --text-400: hsl(0, 0%, 100%);
  --accent-400: hsl(200, 100%, 50%);
  --scrollbar-color: hsl(225, 5%, 30%);
  --scrollbar-color-hover: hsl(225, 5%, 50%);

  /* borders */
  --border-width-100: 1px;
  --border-style: solid;
  --border-color-400: hsl(0, 0%, 18%);
  --border-100: var(--border-width-100) var(--border-style)
    var(--border-color-400);

  /* dimensions */
  --nav-height: calc(3.5rem + 1px);
  --spacing-100: 0.25rem;
  --spacing-200: 0.5rem;
  --spacing-400: 1rem;
  --radius-200: 0.25rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.5rem;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-400);
  color: var(--text-400);
  width: 100%;
  height: 100svh;
}

.app {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-color);
  background-clip: content-box;
  border: 0.2rem solid transparent;
  border-radius: 50%;
}
